<!DOCTYPE html>
<html lang="en">
 <!------------Head-------------->
 <%- include('../partials/head', {estilos: "404-page", titulo: "Error 404 - Not Found", script: ""})%>
<body>
    <h1>Not Found</h1>
    <p>The requested URL was not found on this server.</p>
    <div class="error-404">
        <img class= "imagen" src="/img/error-404.webp" alt="imagen de un producto"> 
    </div>
</body>
</html>