<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "carrito-de-compras",titulo: "La cerveza - Carrito", script: ""})%>

<body>
    
    <%- include('../partials/header')%>

   <main>
        
        <section>
            <h1>Carrito de compras</h1>

            <div class="productos"></div>

        </section>

   </main>

   <%- include('../partials/footer')%>

</body>

<script src="/js/Carrito.js"></script>
</html>