<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {estilos: "editarProducto", titulo: "La cerveza - Editar producto"})%>

<body>
    <%- include('../partials/header')%>

    <main class="edicion-producto-main">
        <h1>Pagina de edicion de productos</h1>
        <section class="caja-edicion">
            <form action="/editarProducto" method="post" class="edicion-form">
                <div> 
                    <label for="nombre-producto">Nombre del producto</label>
                    <input placeholder="Actualizar nombre del producto" type="text" name="nombre-producto" id="nombre-producto"/>
                </div>

                <div> 
                    <label for="precio-producto">Precio</label>
                    <input placeholder="Nuevo precio" type="number" name="precio-producto" id="precio-producto"/>
                </div>

                <div> 
                    <label for="categoria-producto">Categoría</label>
                    <select name="categoria-producto" id="categoria-producto">
                        <option disabled selected value>Selecciona una categoría</option>
                        <option value="Golden">Golden</option>
                        <option value="Honey">Honey</option>
                        <option value="IPA">IPA</option>
                        <option value="Amber Ale">Amber Ale</option>
                        <option value="Stout">Stout</option>
                    </select>
                </div>
    
                <div>
                    <label for="descripcion-producto">Descripción</label>
                    <textarea class="comentario" name="descripcion-producto" id="descripcion-producto" rows="5" cols="24" maxlength="300" placeholder="Escriba una descripción (máximo 300 palabras)"></textarea>
                </div>

                <div> 
                    <label for="foto-producto">Cargar fotos</label>
                    <input placeholder="Buscar archivos" type="file" name="foto-producto" id="foto-producto" accept=".jpg, .png" multiple/>
                </div>
            </form>

            </section>
   
            <section class="edicion-buttons">
                <form action="">
                    <div>
                        <button type="submit">Actualizar datos</button> 
                    </div>
    
                    <div>
                        <button type="reset">Borrar</button> 
                    </div>
                </form>
            </section>
    </main>

    <%- include('../partials/footer')%>
</body>

</html>