/**************MAIN***************/
/**************Mobile*************/

.crearProductoForm{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.crearProductoForm div{
    width: 300px;
    margin: 5px 0;

}


input, textarea, select{
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    background-color: rgb(207, 250, 250);
    border-radius: 3px;  
    text-align: center;
}

.botones {
    justify-content: space-between;
}

button {
    width: 45%;
    padding: 10px;
    background-color: #A5402D;
    border: 1px solid #721121;
    color:white;
}

.errores_register {
    color: red;
    background-color: #000;
    text-align: center;
}

/**************TABLET*************/
@media (min-width: 768px) {

    .crearProductoForm div{
        width: 500px;

    }

}

/*****************PC******************/
@media (min-width: 1200px) {

 

}














