/**************MAIN***************/
/**************Mobile*************/


.crearProductoForm{
    padding: 20px;/*Ver*/
    display: flex;
    flex-direction: column;
}

.crearProductoForm div{
    width: 100%;
    margin-top: 10px;
}


 input, textarea, select, button{
    width: 100%;
    line-height: 1.8;
    font-size: 100%;
    border: 1px transparent;
    border-radius: 3px;  
    text-align: center;
}


button{
    background-color: #A5402D;
    border: 1px solid #721121;
    color:white;
    margin-top: 5px;
}

/**************TABLET*************/
@media (min-width: 768px) {

    .crearProductoForm input, textarea, select, button{
        margin-left: 20%;
        width: 60%;
        
    }

}

/*****************PC******************/
@media (min-width: 1200px) {

    .crearProductoForm input, textarea, select, button{
        margin-left: 35%;
        width: 30%;
    }

}














