.main-footer {
    background-image: url("/img/footer.jpg");
    
    text-align: center;
}

.secciones-footer {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.secciones-footer section {
    width: 90%;
    margin: auto;
}
.secciones-footer h3 {
    font-size: 25px;
    color: #000;
}
.secciones-footer a {
    color: #000;
}

.redes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    width: 90%;
    margin: auto;
}



#icono {
    font-size: 50px;
    transition: all 0.3s ease;
}
#icono:hover {
    transform: scale(1.1);
}
.fa-square-instagram, .fa-square-facebook, .fa-square-twitter, .fa-whatsapp {
    padding: 20px; 
    font-size: 3.5rem;
}
.fa-square-instagram {
    color: rgb(173, 6, 140)
}

.fa-square-facebook {
    color: rgb(4, 4, 150); 
}

.fa-square-twitter{
    color: rgb(72, 124, 255); 
}
.fa-whatsapp {
    color: rgb(13, 176, 13); 
    font-size: 3.5rem;
}


@media (min-width: 768px) {
}


@media (min-width: 1200px) {
    .secciones-footer {
        flex-direction: row;
    }
    .secciones-footer section {
        width: 90%;
        margin: 0;
    }
    .ayuda {
        border-right: 1px solid #000;
    }
    .seguinos {
        border-left: 1px solid #000;
    }
    .copyright {
        margin: auto;
    }

    .icono-up{
        margin: auto;
    }


/* Estilos para el botón de desplazamiento hacia arriba en el footer */
  
  #scrollToTopBtnFooter {
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    color: #721121;
    cursor: pointer;
    
  }

  
}