* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.header-principal {
    display: flex;
    flex-direction: column;
    background-color: #f6b16c;
    border-bottom: solid 1px #692631;
}

.header-top {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-top a {
    display: block;
    width: 100%;
}

.header-top img {
    width: 250px;
}

.titulos-top {
    display: flex;
    flex-direction: column;
    color: #721121;
}

.titulos-top h2,
.titulos-top h1 {
    margin: 5px 0;
}

.nav-padre {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 10px 0;
}

.menu-superior {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-end;
}

.menu-superior li {
    padding: 5px;
    border: 1px solid #721121;
    background-color: #A5402D;
    margin-bottom: 5px;
    border-radius: 3px;
}

.menu-superior a {
    color: #FFFFFF;
    font-size: 25px;
}
.menu-inferior {
    justify-content: flex-start;
    margin: auto;
    display: flex;
    padding: 0;
}
.menu-superior li a {
    color: #FFFFFF;
    font-size: 20px;
    display: block;
}
.menu-inferior li {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #721121;
    background-color:  #A5402D;
    font-size: 30px;
    margin-left: 15px;
}
.menu-inferior i{
    color:#FFFFFF;
    transition: all 200ms;
}
.menu-inferior i:hover {
    color: #721121;
}

.tituto-pantalla-grande{
    display: none;
}

.linkImgUsuario{
    width: 60px;
}
.imagenUsuario{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}




@media (min-width: 768px) {
    .header-top {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .header-top div {
        margin: 0;
    }

    .linkImgUsuario{
        width: 70px;
    }
    .imagenUsuario{
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
    }

    .menu-inferior li{
        padding: 10px;

    }
    
}

@media (min-width: 1200px) {
    .header-top {
        justify-content: space-around;
    }
    .menu-superior {
        flex-direction: row;
        text-align: center;
        width: 90%;
        margin:0%;
        align-items: center;
    }


    .menu-superior li {
        padding: 5px;
        margin-right: 20px;
        width: 25%;
        transition: all 500ms;
        margin-bottom: 0px;
    }
    .menu-superior li:hover {
        width: 29%;
    }
    .titulos-top {
        flex-direction: row;
        text-align: center;
    }
    .titulos-top h2,
    .titulos-top h1 {
        font-size: 40px;
        padding-right: 60px;
    }
    .nav-padre {
        justify-content: space-evenly; /*Modifico el space-between por el space-evenly*/
        width: 80%;
    }

    .menu-inferior{
        margin: 0%;
        width: 30%;
        align-items: center;
    }

    .menu-inferior li{
        padding: 5px;

    }

    .tituto-pantalla-chica{
        display: none;
    }

    .tituto-pantalla-grande{
        display:inline;
    }

    .linkImgUsuario{
        width: 20%;
    }
    .imagenUsuario{
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
    }
}