* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.header-principal {
    display: flex;
    background-color: #f6b16c;
}

.header-top a {
    display: none;
}

.nav-padre {
    display: flex;
    width: 90%;
    margin: 5px auto;
}

.menu-superior {
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu_li {
    margin-bottom: 5px;
}

.menu-inferior {
    margin: auto;
    display: flex;
}

.menu_li a {
    border-radius: 3px;
    border: 1px solid #721121;
    background-color: #A5402D;
    padding: 5px;
    color: #FFFFFF;
    font-size: 20px;
    display: block;
}

.menu-inferior li {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #721121;
    background-color:  #A5402D;
    font-size: 30px;
    margin-left: 15px;
}
.menu-inferior i{
    color:#FFFFFF;
    transition: all 200ms;
}
.menu-inferior i:hover {
    color: #721121;
}

.tituto-pantalla-grande{
    display: none;
}

.linkImgUsuario{
    width: 60px;
}
.imagenUsuario{
    width: 100%;
    border-radius: 100%;
    object-fit: cover;
}


@media (min-width: 768px) {

    .header-top {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .header-top a {
        margin: 0 10px;
        display: block;
        width: 200px;
    }

    .header-top img {
        width: 100%;
    }

    .menu-superior {
        flex-direction: row;
        width: 90%;
        flex-wrap: wrap;
    }

    .menu_li {
        margin: 10px 2px;
        width: 200px;
    }

    .nav-padre {
        flex-direction: column;
    }

    .menu-superior {
        justify-content: center;
    }
}

@media (min-width: 1200px) {

    .menu_li {
        width: 200px; 
        transition: all 0.1s;
    }
    
    .menu_li:hover {
        width: 220px;
    }

    .nav-padre {
        flex-direction: row;
    }


    .menu-inferior{
        width: 30%;
        align-items: center;
    }

    .linkImgUsuario{
        width: 20%;
    }
    
    .imagenUsuario{
        width: 100%;
        border-radius: 100%;
        object-fit: cover;
    }

    .menu-inferior i:hover {
        color: #721121;
    }
}