* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}

header {
    display: flex;
    background-image: url("/img/header_mobile.jpg");
    justify-content: center;
}

.logo a {
    display: none;
}

.menu_principal {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 0;
}
.menu_superior {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.menu_superior li {
    margin: 5px 0;
}
.menu_superior li a {
    border-radius: 3px;
    border: 1px solid #721121;
    background-color: rgba(165, 64, 45, 0.7);
    padding: 3px;
    color: #f2f6d1;
    font-size: 20px;
    display: block;
}

.menu_inferior {
    display: flex;
}
.menu_inferior li {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #721121;
    background-color:  #A5402D;
    font-size: 30px;
    margin-left: 15px;
    align-content: center;
}
.menu_inferior i{
    color:#FFFFFF;
}

.imagenUsuario img{
    width: 100px;
    border-radius: 20px;
    display: block;
}

@media (min-width: 768px) {
    .Inicio {
        display: none;
    }

    .logo a {
        margin: 0 10px;
        display: block;
        width: 100%;
    }
    .logo img {
        width: 200px;
    }

    .menu_superior {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .menu_superior {
        justify-content: center;
    }
    .menu_superior li {
        margin: 10px 2px;
        width: 200px;
    }

    .menu_inferior {
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    header {
        background-image: url("/img/header.jpg");
    }

    .menu_principal {
        flex-direction: row;
        align-items: center;
        width: 80%;
    }
    
    .menu_superior {
        width: 85%;
    }
    .menu_superior li:hover {
        width: 210px;
    }
    .menu_superior li {
        width: 180px; 
        transition: all 0.1s;
    }

    .menu_inferior{
        width: 20%;
        align-items: center;
    }
}