* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

/* Header */
.header-principal{
    background-color: #7D3C10;
}

.header-top {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top a {
    text-align: center;
}

.logo-top {
    width: 50%;
    text-align: center;
}

.titulo-cerveza {
    text-align: center;
    width: 90%;
    color: #F5DEB3;
}

.nav-padre {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.menu-superior {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    text-align: center;
    list-style: none ;
}

.menu-superior li {
    padding: 3px;
    background-color: #8B4513;
    margin-bottom: 5px;
    border-radius: 10px;
}

.menu-superior a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

.menu-inferior {
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    padding: 0;
    list-style-type: none;
    
}

.menu-inferior li {
    padding: 5px;
    border-radius: 10px;
    background-color: #7D3C10;
    font-size: 30px;
}

.fa-user,.fa-cart-shopping{
color:#FFFFFF;
}
 

/* Footer */
.main-footer {
    background-color: #7D3C10;
}

.secciones-footer {
    display: flex;
    flex-direction: column;
}

.secciones-footer h3 {
    font-size: 20px;
}

.secciones-footer a {
    text-decoration: none;
    color: black;
}

.secciones-footer li {
    list-style: none;
}

.secciones-footer ul {
    padding: 0;
}

@media (min-width: 768px) {
    .header-top {
        flex-direction: row;
    }
    
    .header-top img {
        width: 70%;
    }

    .titulo-cerveza {
        font-size: 40px;
    }
}

@media (min-width: 1200px) {
    .menu-superior {
        flex-direction: row;
    }

    .menu-superior li {
        padding: 10px;
        margin-right: 20px;
    }
}