* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto';
}

/* Header */
.header-principal{
    background-color: #ffc07f;
   
}

.header-top {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-top a {
    text-align: center;
}

.logo-top {
    width: 50%;
    text-align: center;
    transition: width 1s;
}

.logo-top:hover {
    width: 55%;
}

.titulo-cerveza {
    text-align: center;
    width: 90%;
    color: #f15156;
    padding: 2%; 
}

.nav-padre {
    display: flex;
    width: 90%;
    margin: auto;
    padding-bottom: 10px;
}

.menu-superior {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0;
    text-align: center;
    list-style: none ;
}

.menu-superior li {
    padding: 3px;
    background-color: #f15156;
    margin-bottom: 5px;
    border-radius: 10px;
 
}

.menu {
    width: 100%;
    transition: width 0.5s;
}

.menu:hover {
    width: 120%;
}

.menu-superior a {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.menu-inferior {
    justify-content: space-evenly;
    margin: auto;
    display: flex;
    padding: 0;
    list-style-type: none;
    
}

.menu-inferior li {
    padding: 5px;
    border-radius: 10px;
    background-color:  #f15156;
    font-size: 30px;
    margin: 5px;
}

.fa-user,.fa-cart-shopping{
color:#FFFFFF;
transition: color 1ms;
}

.fa-user:hover, .fa-cart-shopping:hover {
    color: #ffcf99;
}
 

/* Footer */
.main-footer {
    background-color: #ffcf99;
    text-align: center;
}

.secciones-footer {
    display: flex;
    flex-direction: column;
}

.secciones-footer h3 {
    font-size: 20px;
}

.secciones-footer a {
    text-decoration: none;
    color: black;
}

.secciones-footer li {
    list-style: none;
}

.secciones-footer ul {
    padding: 0;
}

.redes {
    display: flex;
    justify-content: center;  
}

.fa-square-instagram, .fa-square-facebook, .fa-square-twitter {
    font-size: 1.5rem;
    margin: 5px;
}

h3 {
    color: #721121;
} 

a {
    color: black; 
    transition: color 1s;
}

a:hover {
    color: #721121;
}
@media (min-width: 768px) {
    .header-top {
        flex-direction: row;
    }
    
    .header-top img {
        width: 70%;
    }

    .titulo-cerveza {
        font-size: 2.5rem;
    }
}

@media (min-width: 1200px) {
    .menu-superior {
        flex-direction: row;
    }

    .menu-superior li {
        padding: 10px;
        margin-right: 20px;
    }

   
}