body{
  background-color: #721121;
}

.loguear {
  margin: 10px 0;
}

.formulario{
  font-style: 'roboto'; 
  display:flex;
  flex-direction: column;
  align-items: center;
}

.formulario div {
  margin: 5px 0;
}

.formulario input {
  padding: 8px;
}
  
.button-enviar {
  display:flex;
  justify-content: center;
}

.button-login {
  width:200px;
  background-color:rgb(233, 151, 18);
  transition:background-color 450ms;
  color:#1e1d1d;
}

.button-registro {
  display:flex;
  justify-content: center;
}

.button-register {
  width:200px;
  background-color:rgb(233, 151, 18);
  color:#1e1d1d;
}