* {
    box-sizing: border-box;
}


/* Header */
.header-principal{
    background-color: #8B4513;
}
.logo-top {
    width: 30%;
}
.titulo-cerveza {
    width: 70%;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    
}

/* Footer */
.main-footer {
    background-color: #8B4513;
}
.copyright {
    display: inline;
    width: 60%;
}
.logo-bot {
    display: none;
    width: 30%;
    background-color: #8B4513;
}