.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 0px ;
   
   
}

.link-articulo {
    display: flex;
    flex-direction: column;
    border: 1px #F15156 solid;
    border-radius: 10px;
    background-color: #b64f3d;
    margin: 10px 10px;
    text-align: center;
}

.imagen{
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.nombre-producto {
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

.precio {
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #FFCF99;
}

@media (min-width: 768px) {
    .productos {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .link-articulo {
        width: 300px;
        transition-property: box-shadow width;
        transition-duration: 1ms 1ms;
    }
    .link-articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1200px) {
    .productos {
        align-items: flex-start;
        
    }
}