/************Mobile************/
main{
    width:100%;
}

.detalleProducto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detalleProducto h2 {
    color: #A5402D;
    text-decoration: underline;
    text-shadow: -1px  2px  0px #721121 ;
}

.imagen-titulo {
    width: 90%;
    text-align: center;
    padding: 10px 0;
}

.imagen-titulo img{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 3px 4px 9px -1px rgba(0, 0, 0, 0.75); ;
}

.cont-PorcentajecAlcohol{
    display: flex;
    background-color: #d7d7d7;
    opacity: 1;
    border-radius: 3px;
    
}

.cont-PorcentajecAlcohol input{
    border: none;
    background-color: #E8B504;
    color:#fff;
    font-size: 1.2rem;
}

.descripcion-cerveza {
    text-align: center;
}

.descripcion-cerveza div{
    width: 90%;
    margin: auto;
    text-align: center;
}

.cantidad{
    width: 10%;  
}

.boton {
    margin-top: 5px;
    width: 35%;
    padding: 5px;
    background-color: #A5402D;
    border: 2px solid #721121;
    border-radius: 5px;
    font-size: 12px;
}

.boton i{
    color: #fff;
}

.boton i::after{
    content:'AGREGAR AL PEDIDO';
    color: #fff;
    
}

/************TABLETS************/
@media (min-width: 768px) {
    .imagen-titulo {
        width: 50%;
    }
}

/***************PC***************/
@media (min-width: 1200px) {
    .imagen-titulo {
        width: 20%;
    }

    .detalleProducto {
        flex-direction: row-reverse;
        justify-content: center;
    }
}