.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 0px ;
}

.link-articulo {
    display: flex;
    flex-direction: column;
    border: 1px #F15156 solid;
    border-radius: 10px;
    background-color: #b64f3d;
    margin: 10px 10px;
    text-align: center;
}

.imagen{
    border-radius: 10px;
    width: 300px;
    margin: auto;
}

.nombre-producto {
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

.precio {
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #FFCF99;
}

.variedades {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: auto;
    text-align: center;
}

.menu__variedades {
    display: none;
}

#abrirMenu {
    display: none;
}

.checkbox-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(165, 64, 45, 0.7);
    border: 1px solid #721121;
    color: #f2f6d1;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#abrirMenu:checked + .checkbox-label {
    background-color: rgba(165, 64, 45, 0.7);

}

#abrirMenu:checked + .checkbox-label + .menu__variedades {
    display: block;
}

.menu__variedades li a {
    border-radius: 5px;
    padding: 5px;
    margin: 3px 0;
    display: block;
    color: black;
    background-color: rgba(165, 144, 140, 0.7);
}

@media (min-width: 768px) {
    .productos {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .link-articulo {
        width: 300px;
        transition-property: box-shadow width;
        transition-duration: 1ms 1ms;
    }
    .link-articulo:hover {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
}

@media (min-width: 1200px) {
    .productos {
        align-items: flex-start;
        
    }
}