.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.link-articulo {
    display: flex;
    flex-direction: column;
    border: 1px #F15156 solid;
    border-radius: 10px;
    background-color: #A5402D;
    width: 200px;
    margin: 20px 10px;
    text-align: center;
}

.imagen{
    border-radius: 10px;
    width: 90%;
    margin: auto;
}

.nombre-producto {
    text-align: center;
    font-size: 30px;
    color: #FFF;
}

.precio {
    margin: 0;
    text-align: center;
    font-size: 25px;
    color: #FFCF99;
}

@media (min-width: 768px) {
    .productos {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .productos article {
        width: 150px;
    }
}

@media (min-width: 1200px) {
    .productos {
        align-items: flex-start;
    }

    .productos article {
        height: 300px;
    }
}