<!DOCTYPE html>
<html>

    <%- include('./partials/head', {estilos: "carrito-de-compras"})%>

<body>
    
    <%- include('./partials/hedear')%>

   <main>
    <div class="contenedor-principal">
    <!--Detalles de productos agregados al carrito - en margen izquierdo-->
    <section class="detalle-productos">
        <h2>Detalle de productos</h2>
        <div class="productos-agregados">
            <img class="imagen-producto" src="/img/cerveza-golden.png" alt="imagen del producto">
            <div class="caja-descripcion">
                <h4>Nombre del producto</h3>
                <p>Detalle del producto</p>
                <form class="form-cantidad" action="">
                    <label for=""> Cantidad: </label> <input class="input-cantidad" type="number" placeholder="1">
                    <button class="button-cantidad" type="button"><i class="fa-solid fa-plus"></i></button> <button class="button-cantidad" type="button"><i class="fa-solid fa-minus"></i></p></button>
                </form>
                <button class="trash-button" type="reset"> Remover <i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
        <div class="productos-agregados">
            <img class="imagen-producto" src="/img/cerveza-honey.png" alt="imagen del producto">
            <div class="caja-descripcion">
                <h4>Nombre del producto</h3>
                <p>Detalle del producto</p>
                <form class="form-cantidad" action="">
                    <label for=""> Cantidad: </label> <input class="input-cantidad" type="number" placeholder="1">
                    <button class="button-cantidad" type="button"><i class="fa-solid fa-plus"></i></button> <button class="button-cantidad" type="button"><i class="fa-solid fa-minus"></i></p></button>
                </form>
                <button class="trash-button" type="reset"> Remover <i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
        <div class="productos-agregados">
            <img class="imagen-producto" src="/img/cerveza-ipa.png" alt="imagen del producto">
            <div class="caja-descripcion">
                <h4>Nombre del producto</h3>
                <p>Detalle del producto</p>
                <form class="form-cantidad" action="">
                    <label for=""> Cantidad: </label> <input class="input-cantidad" type="number" placeholder="1">
                    <button class="button-cantidad" type="button"><i class="fa-solid fa-plus"></i></button> <button class="button-cantidad" type="button"><i class="fa-solid fa-minus"></i></p></button>
                </form>
                <button class="trash-button" type="reset"> Remover <i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
        <div class="productos-agregados">
            <img class="imagen-producto" src="/img/cerveza-amber.png" alt="imagen del producto">
            <div class="caja-descripcion">
                <h4>Nombre del producto</h3>
                <p>Detalle del producto</p>
                <form class="form-cantidad" action="">
                    <label for=""> Cantidad: </label> <input class="input-cantidad" type="number" placeholder="1">
                    <button class="button-cantidad" type="button"><i class="fa-solid fa-plus"></i></button> <button class="button-cantidad" type="button"><i class="fa-solid fa-minus"></i></p></button>
                </form>
                <button class="trash-button" type="reset"> Remover <i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
        <div class="productos-agregados">
            <img class="imagen-producto" src="/img/cerveza-stout.png" alt="imagen del producto">
            <div class="caja-descripcion">
                <h4>Nombre del producto</h3>
                <p>Detalle del producto</p>
                <form class="form-cantidad" action="">
                    <label for=""> Cantidad: </label> <input class="input-cantidad" type="number" placeholder="1">
                    <button class="button-cantidad" type="button"><i class="fa-solid fa-plus"></i></button> <button class="button-cantidad" type="button"><i class="fa-solid fa-minus"></i></p></button>
                </form>
                <button class="trash-button" type="reset"> Remover <i class="fa-solid fa-trash-can"></i></button>
            </div>
        </div>
    </section>

    <!--Resumen total de la compra - en margen derecho cuando res > 768-->

    <section class="resumen-compra">
        <h2>Resumen de compra</h2>
        <div class="detalle-del-total">
            <div>
                <h4>Detalle de productos agregados</h4>
                <p>Nombre del producto 1</p>
                <p>Nombre del producto 2</p>
                <p>Nombre del producto 3</p>
                <p>Nombre del producto 4</p>
                <p>Nombre del producto 5</p>
            </div>
            <div>
                <p>Subtotal: </p>
                <p>Envío: </p>
                <h4>Total: </h4>
            </div>
            <div>
                <button class="button-resumen-compra" type="submit">Proceder al pago </button>
                <button class="button-resumen-compra" type="reset">Vaciar carrito </button>
            </div>
        </div>

    </section>

    </div>

   </main>

   <%- include('./partials/footer')%>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>