<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/511b878d3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>La Cerveza</title>
</head>
<body>
    <header class="header-principal">
        <div class="header-top">
            <a href="./"><img class="logo-top" src="/img/la_volada_logo.png" alt=""></a>
            <h1 class="titulo-cerveza">CERVEZA ARTESANAL</h1>
        </div>
        
        
        <nav class="nav-padre">
            <ul class="menu-superior">
                <li><a href="./quienes-somos">Quienes somos</a></li>
                <li><a href="./productos">Productos</a></li>
                <li><a href="./hace-tu-pedido">Hace tu pedido</a></li>
                <li><a href="./contacto">Contacto</a></li>
            </ul>
            <ul class="menu-inferior">
                <li><a href="./login"><i class="fa-solid fa-user"></i></a></li><!-- login -->
                <li><a href="./carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a></li><!-- carrito -->
            </ul>
        </nav>
    </header>

    <main>
        <h1>Aca va el contenido</h1>
    </main>

    <footer class="main-footer">
        <section>
            <h4>Ayuda</h4>
            <nav>
                <ul class="ayuda">
                    <li><a href="./preguntas"></a>Preguntas frecuentes</li>
                    <li><a href="./como-comprar"></a>Como comprar</li>
                    <li><a href="./politica-devolucion"></a>Politicas de devolucion</li>
                    <li><a href="./terminos"></a>Terminos & Condiciones</li>
                </ul>
            </nav> 
        </section>

        
        <section>
            <div class="seguinos">
                <nav >
                <h3>Seguinos en</h3>
            
                    <ul class="lista-footer-right">
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
            </nav>    
            </div>
                 <ul class="lista-footer-left">
                    <li><i class="fa-brands fa-whatsapp"></i> 22333333</li>
                    <li><i class="fa-solid fa-location-dot"></i> 12 de Octubre 7749. Mar del Plata, Buenos Aires, Argentina.</li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i> Info@lavolada.com.ar</a></li>
                </ul>
            </nav>
        </section>

        <section class="copyright">
            <p>Beber con moderación Prohibida su venta a menores de 18 años.</p>
            <p>Copyright La Volada cervezas artesanales.</p> 
        </section>
        
        <img class="logo-bot" src="/img/la_volada_logo.png" alt="">
    </footer>
</body>
</html>