<!DOCTYPE html>
<html>

    <%- include('./partials/head', {estilos: "login"})%>

<body>

    <%- include('./partials/hedear')%>

    <main class="loguear">     
        <form action="/login" method="post" class="formulario">                        
            <div>
                <input type="text" name="nombre-usuario"  placeholder="Nombre de usuari@">
            </div>

            <div>
                <input type="password" name="clave"  placeholder="Introduce tu contraseña">       
            </div>

            <div>
                <button type="submit">Enviar</button> 
            </div>
        
            <div>
                <a href="/login/register">Regístrate</a> <!-- que nos lleve a la pagina register -->
            </div>
        </form>
    </main>

        <%- include('./partials/footer')%>

</body>