<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/511b878d3a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/plantilla.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>La Cerveza</title>
</head>
<body>
    <header class="header-principal">
        <div class="header-top">
            <img class="logo-top" src="/img/la_volada_logo.png" alt="">
            <h1 class="titulo-cerveza">CERVEZA ARTESANAL</h1>
        </div>
        
        
        <nav>
            <ul class="menu-superior">
                <li><a href="#"><p>Quienes somos</p></a></li>
                <li><a href="#"><p>Productos</p></a></li>
                <li><a href="#"><p>hace tu pedido</p></a></li>
                <li><a href="#"><p>Contacto</p></a></li>
            </ul>
            <ul class="menu-inferior">
                <li><a href="#"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Aca va el contenido</h1>
    </main>

    <footer class="main-footer">
        <section>
            <a href="">Ayuda</a>
            <!-- <nav>
                <ul>
                    <li><a href="">Preguntas frecuentes</a></li>
                    <li><a href="">Como comprar</a></li>
                    <li><a href="">Politicas de devolucion</a></li>
                    <li><a href="">Terminos & Condiciones</a></li>
                </ul>
            </nav> -->
        </section>

        <section>
            <a href=""><h3>La Volada</h3></a>
            <nav>
                <ul>
                    <li><a href="">Quiénes Somos</a></li>
                    <!-- <li><a href="">Sustentabilidad</a></li> -->
                </ul>
            </nav>
        </section>

        <section>
            <h3>Seguinos en</h3>
            <nav>
                <ul>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i class="fa-brands fa-square-twitter"></i></a></li>
                </ul>
                <!-- <ul>
                    <li><i class="fa-brands fa-whatsapp"></i><p>22333333</p></li>
                    <li><i class="fa-solid fa-location-dot"></i><p>12 de Octubre 7749. Mar del Plata, Buenos Aires, Argentina.</p></li>
                    <li><a href=""><i class="fa-solid fa-envelope"></i>Info@lavolada.com.ar</a></li>
                </ul> -->
            </nav>
        </section>

        <section class="copyright">
            <p>Beber con moderación.</p>
            <p>Prohibida su venta a menores de 18 años.</p>
            <p>Copyright La Volada cervezas artesanales.<p/> 
        </section>
        
        <img class="logo-bot" src="/img/la_volada_logo.png" alt="">
    </footer>
</body>
</html>