<%- include('../partials/head', {estilos: "carouselProductos", titulo:""})%>

<div class="contenedor-detalle-productos" >          
    <button class="carousel-products-control-prev" type="button"  id="left" >
        <div class="contenedor-producto-icono-prev" >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </div>
    </button>

    <div class="wrapper">
        <div class="carousel-productos">
            <article class="detalle-producto">
                <a href="./productos">
                    <img  src="./img/cerveza-colimita.jpg" alt="imagen" draggable="false">
                    <div class="descripcion-producto">  
                        <p class="nombre-cerveza"> Cerveza Colimita Lager</p>
                        <p class="precio-cerveza"> 950$</p>
                    </div>
                </a>
            </article>

            <article class="detalle-producto">
                <a href="./productos">
                <img  src="./img/cerveza-piedra-liza.jpg" alt="imagen" draggable="false">
                    <div class="descripcion-producto">  
                        <p class="nombre-cerveza"> Cerveza Piedra Lisa IPA</p>
                        <p class="precio-cerveza"> 1000$</p>
                    </div>
                </a>
            </article>

            <article class="detalle-producto">
                <a href="./productos">
                    <img  src="./img/ceveza-paraiso.jpg" alt="imagen" draggable="false">
                    <div class="descripcion-producto">  
                        <p class="nombre-cerveza"> Cerveza Loba Paraiso</p>
                        <p class="precio-cerveza"> 1100$</p>
                    </div>
                </a>
            </article>

            <article class="detalle-producto">
                <a href="./productos">
                    <img  src="./img/cerveza-coralito.jpg" alt="imagen" draggable="false">
                    <div class="descripcion-producto">  
                        <p class="nombre-cerveza"> Cerveza Coralito IPA</p>
                        <p class="precio-cerveza"> 1200$</p>
                    </div>
                </a>
            </article>

            <article class="detalle-producto">
                <a href="./productos">
                    <img  src="./img/imperial_ipa_losch.jpg" alt="imagen" draggable="false">
                    <div class="descripcion-producto">  
                        <p class="nombre-cerveza"> Imperial IPA Losch</p>
                        <p class="precio-cerveza"> 1400$</p>
                    </div>
                </a>
            </article>

        </div>
    </div>
    
    <button class="carousel-products-control-next" type="button" id="right">
        <div class="contenedor-producto-icono-next" >
            <span class="carousel-control-next-icon" aria-hidden="true" ></span>
        </div>
    </button>
</div>