<footer class="main-footer">  
    <div class="secciones-footer">
        <section class="ayuda">
            <h3>Ayuda</h3>
            <nav>
                <ul>
                    <li><a href="/preguntas"></a>Preguntas frecuentes</li>
                    <li><a href="/como-comprar"></a>Como comprar</li>
                    <li><a href="/politica-devolucion"></a>Políticas de devolución</li>
                    <li><a href="/terminos"></a>Terminos & Condiciones</li>
                </ul>
            </nav> 
        </section>

        <section class="la-volada">
            <h3>La Volada</h3>
            <nav>
                <li><a href="#">Quiénes somos</a></li>
                <li><a href="#">Sustentabilidad</a></li>
            </nav>
        </section>

        <section class="seguinos">
            <h3>Seguinos en</h3>
            <nav >
                <ul class ="redes">
                    <li><a href=""><i id="icono" class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href=""><i id="icono" class="fa-brands fa-square-facebook"></i></a></li>
                    <li><a href=""><i id="icono" class="fa-brands fa-square-twitter"></i></a></li>
                    <li><a href=""><i id="icono" class="fa-brands fa-whatsapp"></i></a></li>
                    
                </ul>
            </nav>    
        </section>

    </div>

    <div class="copyright">
        <p>Beber con moderación. Prohibida su venta a menores de 18 años.</p>
        <p>Copyright @ La Volada cervezas artesanales</p> 
    </div>
    <div >
        <!-- Botón de desplazamiento hacia arriba en el footer -->
        <button id="scrollToTopBtnFooter" class="fa-regular fa-circle-up"></button>  
    </div>

</footer>