<%- include('../partials/head', {estilos: "header", titulo: "", script: ""})%>

<header class="header-principal">
    <div class="header-top">
        <a href="/"><img src="/img/la_volada_logo.png" alt=""></a>
        <div class="titulos-top">
            <h2 class="tituto-pantalla-chica">Distribuidora de</h2>
            <h1 class="tituto-pantalla-chica">CERVEZA ARTESANAL</h1>
            <h2 class="tituto-pantalla-grande">Distribuidora de CERVEZA ARTESANAL</h2>
        </div>
    </div>
    
    <nav class="nav-padre">
        <ul class="menu-superior">
            <% if(locals.estaLogeado) { %>
                <li class="menu"><a href="/quienes-somos">Quienes somos</a></li>
                <li class="menu"><a href="/productos">Productos</a></li>
                <li class="menu"><a href="/contacto">Contacto</a></li>
                <li class="menu"><a href="/productos/crearProducto">Crear producto</a></li>
            <% } else { %>
                <li class="menu"><a href="/quienes-somos">Quienes somos</a></li>
                <li class="menu"><a href="/productos">Productos</a></li>
                <li class="menu"><a href="/contacto">Contacto</a></li>
            <%}%>
        </ul>
        <ul class="menu-inferior">
            <% if(locals.estaLogeado) { %>
                <li><a href="/user/login"><i class="fa-solid fa-user"></i></a></li>
                <li><a href="/productos/carrito-de-compras"><i class="fa-solid fa-cart-shopping"></i></a></li><!-- carrito -->
            <% } else { %>
                <li><a href="/user/login"><i class="fa-solid fa-user"></i></a></li>
            <% } %>
        </ul>
    </nav>
</header>