<!DOCTYPE html>
<html>

<%- include('../partials/head', {estilos: "", titulo:"La cerveza - quienes somos" , script: ""})%>

<body>

    <%- include('../partials/hedear')%>


    <main>
        <h1>Proximamente</h1>
    </main>

    <%- include('../partials/footer')%>

    
</body>
</html>