<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="/css/quienes-somos.css">

<%- include('../partials/head', {estilos: "" , titulo:"La cerveza - quienes somos" , script: "", script2: ""})%>

    <body>

        <%- include('../partials/header')%>


            <main>
                <p class="introduccion">
                    ¡Saludos a todos los amantes de la buena cerveza! <br>
                    Estamos emocionados de presentarles "La Volada", la distribuidora de cerveza <br>
                    creada con pasión y dedicación por tres amigos que comparten un amor inigualable <br>
                    por esta bebida fascinante. <br>
                    Permitan que les contemos nuestra historia y nuestra visión detrás de "La Volada".</p>

                    <h3 class="tit-historia"> Nuestra inspiradora historia</h3>

                <p class="historia">
                    Hace unos años, tres amigos con una pasión común se propusieron compartir su amor por <br>
                    la cerveza con el mundo. Inspirados por la riqueza de sabores, la diversidad de estilos y<br>
                    la cultura cervecera, decidieron fundar "La volada". <br>
                    Desde entonces, nos hemos dedicado a brindar a nuestros clientes una selección excepcional <br>
                    de cervezas de calidad, cuidadosamente seleccionadas de las mejores cervecerías <br>
                    locales e internacionales.

                </p>




            </main>

            <%- include('../partials/footer')%>


    </body>

</html>