<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos: "perfilUser", titulo: "La cerveza - Perfil", script: "", script2: ""})%>
<body>

    <%- include('../partials/header')%>

    <main class="perfil">     
        
        <!-- FORMULARIO CAMBIAR CONTRASEÑA -->
        <form action="/user/cambiarPassword/<%= usuario.id %>" method="POST">

            <!-- CAMPO CONTRASEÑA ACTUAL -->
            <div>
                <label for="contraseña">Contraseña</label>

                <input type="password" name="contraseña" id="contraseña">
            </div>

            <!-- CAMPO NUEVA CONTRASEÑA -->
            <div>
                <label for="nuevaContraseña">Nueva Contraseña</label>

                <input type="password" name="nuevaContraseña" id="nuevaContraseña">
            </div>

            <!-- BOTON -->
            <button type="submit">Actualizar</button>
        </form>

    </main>

        <%- include('../partials/footer')%>

</body>