<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "perfilUser", titulo: "La cerveza - Perfil", script: ""})%>

<body>

    <%- include('../partials/header')%>

    <main class="perfil">     
        
        <form action="/user/cambiarPassword/<%= usuario.id %>" method="POST">

            <div>
                <label for="contraseña">Contraseña</label>
                <input type="password" name="contraseña" id="contraseña">
            </div>

            <div>
                <label for="nuevaContraseña">Nueva Contraseña</label>
                <input type="password" name="nuevaContraseña" id="nuevaContraseña">
            </div>

            <button type="submit">Actualizar</button>
        </form>

    </main>

        <%- include('../partials/footer')%>

</body>