<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "login", titulo: "La cerveza - Iniciar sesión", script: ""})%>

<body>

    <%- include('../partials/header')%>

    <main class="loguear">     
        <form action="/user/login" method="POST" class="formulario">                        
            <div>
                <input type="text" name="nombre_usuario"  placeholder="Nombre de usuari@">
            </div>

            <div>
                <input type="password" name="clave"  placeholder="Introduce tu contraseña">       
            </div>
            
            <div>
                <label for="recordame">Recordame</label>
                <input type="checkbox" name="recordame" id="recordame">       
            </div>

            <div>
                <button type="submit">Enviar</button> 
            </div>
        
            <div>
                <a href="/user/register">Regístrate</a> <!-- que nos lleve a la pagina register -->
            </div>
        </form>
    </main>

        <%- include('../partials/footer')%>

</body>