<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "login", titulo: "La cerveza - Iniciar sesión", script: ""})%>

<body>

    <%- include('../partials/header')%>

    <main class="loguear">     
        <p>Usted no tiene permisos para entrar a esta pagina</p>
        <p>Si desea logearse ingrese aqui</p>
        <a href="/user/login">login</a>
    </main>

        <%- include('../partials/footer')%>

</body>