<!DOCTYPE html>
<html>
    <%- include('../partials/head', {estilos: "notLogin", titulo: "La cerveza - Iniciar sesión", script: "", script2: ""})%>
<body>

    <%- include('../partials/header')%>

    <main class="main">
        <div class="caja_notLogin">
            <p>Usted no tiene permisos para entrar a esta pagina</p>
            <div class="loguearse">
                <label>Si desea logearse ingrese aqui</label>
                <a href="/user/login">login</a>
            </div>
        </div>
    </main>

        <%- include('../partials/footer')%>

</body>