<!DOCTYPE html>
<html>

    <%- include('../partials/head', {estilos: "register", titulo: "La cerveza - Registrate"})%>

<body>

    <%- include('../partials/hedear')%>

    <main class="registro">
        <form class="formulario" action="/register" method="POST"> 

            <div> 
                <input placeholder="Nombre y apellido" type="text" required name="name" minlength="3"/>
            </div>
    
            <div>
                <input placeholder="Nombre de usuari@" type="text" required name="nombre-usuario"/>
            </div>
    
            <div>
                <input placeholder="Email" type="email" required name="email"/>
            </div>
    
            <div class="fecha-nacimiento">
                <label for="fecha-nacimiento">Fecha de nacimiento</label>
                <input type="date" required name="fecha-nacimiento"/>
            </div>

            <div>
                <input placeholder="Domicilio" type="text" required name="domicilio"/>
            </div>

            <div>
                <textarea class="comentario" name="comment" id="comment" rows="5" cols="24" maxlength="20" placeholder="Deja tu comentario"></textarea>
            </div>

            <div>
                <button type="submit">Enviar</button> 
            </div>

            <div>
                <button type="reset">Borrar</button> 
            </div>

        </form>
    </main>

    <%- include('../partials/footer')%>


</body>

</html>